#wrap{
	margin-top: 50px;
}
#add-poem textarea{
	width: 100%;
	min-height: 300px;
}
#login-btn{
	cursor: hand;
	cursor: pointer;
}
#signup input{
	margin-bottom: 5px;
}
body{
	/*margin-top: 70px;*/
	padding-top: 50px;
}
#hide-signin{
	color: #999;
}
#hide-signin:hover{
	text-decoration: none;
	border-radius: 50%;
	border:1px;
	border-color: #999;
}